@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  scrollbar-width: none;
  -ms-overflow-style: none;
  outline: none;
  border: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #d3ecd8;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN STAGE */

.stage-view {
  background: url('cloud.svg') no-repeat;
  background-size: contain;
  background-color: #F8E6E6;
  width: 50%;
  max-width: 600px;
  min-width: 500px;
  border-radius: 26px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  -webkit-box-shadow: 6px 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 6px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.stage-view>span {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stage-view h2 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #ebc9c9;
  line-height: 90%;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-bottom: 20px;
  text-shadow: 0.05em 0.08em #c2a4a4;
}

.stage-view span label {
  color: #a0c2a9;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.stage-view span span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.stage-view span span .sub-text {
  color: #E3BEBE;
  font-size: 1.3em;
}

.stage-view button {
  padding: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #99b8e7;
  color: #5f83b9;
  border-radius: 10px;
  font-size: 2.4em;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 25px;
  letter-spacing: 0.1em;
  -webkit-box-shadow: 4px 4px 0px 4px #839ec5;
  box-shadow: 4px 4px 0px 4px #839ec5;
}

.stage-view button:hover {
  background: #91b2e4;
}

#matches-header {
  font-family: 'Averia Serif Libre';
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #67a07a;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* border-radius: 12px; */
  border-collapse: separate;
  border-spacing: 0;
}

table td,
table th {
  padding: 20px 10px;
}

table tr:nth-child(even) {
  background-color: #ecdddd;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #b3ceb8;
  color: white;
}

table th {
  text-align: left;
  background-color: #8cb3ec;
  color: white;
}

table tr:first-child th:first-child {
  border-top-left-radius: 12px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 12px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

@media only screen and (max-width: 601px) {
  .stage-view {
    max-width: 500px;
    min-width: 500px;
  }
}

@media only screen and (max-width: 551px) {
  .stage-view {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: flex-start;
    padding: 30px;
  }

  .stage-view h2 {
    font-size: 9vw;
    margin-bottom: 10px;
  }

  .stage-view button {
    margin-top: 10px;
    font-size: 5vw;
  }

  .stage-view span label {
    font-size: 5vw;
  }
}