@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  scrollbar-width: none;
  -ms-overflow-style: none;
  outline: none;
  border: none;
  font-family: 'Alata', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #c3e2c9;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN STAGE */

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

#view {
  background: #F8E6E6;
  width: 50%;
  max-width: 600px;
  height: 85%;
  border-radius: 32px;
  padding: 50px;
}

.stage-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stage-view>span {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stage-view h2 {
  font-size: 4em;
  font-family: 'Averia Serif Libre', cursive !important;
  text-align: center;
  color: #CA9292;
}

.stage-view span label {
  color: #8CA492;
  font-size: 2.6em;
}

.stage-view span span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.stage-view span span .sub-text {
  color: #E3BEBE;
  font-size: 1.3em;
}

.stage-view button {
  font-family: 'Averia Serif Libre', cursive !important;
  padding: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #7ca7e7;
  color: white;
  border-radius: 10px;
  font-size: 2.4em;
}