input {
    padding: 24px 16px;
    background: #FDF1F1;
    color: #7CA7E7;
    border-radius: 10px;
    font-size: 1.7em;
    border: 2px solid transparent;
    opacity: 0.6;
}

input::placeholder {
    color: #eecbcb;
}

input:focus {
    border: 2px solid #7CA7E7;
    background: #dee7f3;

    &::placeholder {
        color: #a5c1eb;
    }
}

@media only screen and (max-width: 550px) {
    input {
        font-size: 4vw;
        padding: 20px 12px;
    }
}