.range-slider-container {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;

    .range-slider-rail {
        background: #FDF1F1;
        height: 24px;
        width: 100%;
        position: absolute;
        border-radius: 12px;
    }

    .range-slider-track {
        background: #FFD3D3;
        height: 24px;
        position: absolute;
    }

    .range-slider-handle {
        background: #7CA7E7;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        position: absolute;
        margin-left: -10px;
        cursor: pointer;
    }
}